.about {
  background-color: var(--bcg-color);
  padding-top: 0px;
}
.about__title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.about-list {
  display: flex;
  margin-right: -30px; //я не знаю почему, но без этого маржина справа у списка появляется отступ
}
.about-list__item {
  flex-basis: calc(100% / 3 - var(--margin-item-stand));

  & + & {
    margin-left: var(--margin-item-stand);
  }
}
.about-list__text {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bcg-color);
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__thumb {
  position: relative;
}
