.features {
  background-color: var(--bcg-color);
}
.features-list {
  display: flex;
}
.features-list__item {
  margin-bottom: 30px;
}
.features-list__item:not(:last-child) {
  margin-right: 30px;
}
.features-list__background {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 270px;
  height: 120px;

  background-color: var(--our-team-bcg-color);
}

.features-list__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-list__text {
  width: 270px;
  color: var(--secondary-text-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
