.form__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 12px;
}
.form-field {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 10px;
}
.form-field__label,
.form-feedback__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.form-field__wrap {
  position: relative;
}
.form-field__input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border var(--duration) var(--timing-function);
  &:focus {
    border: 1px solid var(--accent-color);
  }
}
.form-field__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill var(--duration) var(--timing-function);

  .form-field__input:focus + & {
    fill: var(--accent-color);
  }
}

.form-feedback {
  margin-bottom: 20px;
}
.form-feedback__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border var(--duration) var(--timing-function);

  &:focus {
    border: 1px solid var(--accent-color);
  }
}
