.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--hero-footer-bcg-color);

  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Hero-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--bcg-color);
}
.button-primary {
  color: var(--bcg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  transition: background-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--secondary-accent-color);
  }
}
