.address-container {
  min-width: 231px;
  margin-right: 70px;
}
.address-list__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}
.address-list__link--map {
  color: var(--bcg-color);
  text-decoration: none;
  font-style: normal;
  transition: color var(--duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.address-list__link {
  font-style: normal;
  line-height: 1.71;
  color: var(--address-link-color);
  text-decoration: none;
  transition: color var(--duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
