.header__logo {
  @extend %logo;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header__logo--black {
  color: var(--header-logo-color);
  font-family: var(--logo-font-family);
}
