:root {
  --section-vertical-padding: 94px;
  --main-font-family: Roboto, sans-serif;
  --logo-font-family: Raleway, sans-serif;
  --bcg-color: #ffffff;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --primary-text-color: #212121;
  --page-bcg-color: #e5e5e5;
  --our-team-bcg-color: #f5f4fa;
  --header-logo-color: #000000;
  --hero-footer-bcg-color: #2f303a;
  --link-color: #afb1b8;
  --bg-footer-social-link: rgba(255, 255, 255, 0.1);
  --address-link-color: rgba(255, 255, 255, 0.6);
  --portfolio-cards-bg-color: rgba(33, 150, 243, 0.9);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
  --margin-item-stand: 30px;
}
